@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    font-family: 'Roboto', sans-serif;
    color: var(--dark-charcoal);
  }
}

:root {
  --medium-aquamarine: #01D7AB;
  --royal-blue: #0272D9;
  --white-smoke: #FBFBFB;
  --frosted-white: #FFFFFF1A;
  --hazy-white: #FBFBFB99;
  --medium-gray:#FBFBFB4D;
  --dark-charcoal: #333333;
  --transparent-charcoal: #3333334D;
  --black: #000000;
  --charcoal-black: #1D1D1F;
  --shadow-black: #00000033;
  --dark-gray: #A9A9A9;
  --transparent-dark-gray: #33333399;
  --frosted-gray: #D4D4D41A;
  --light-sky-blue: #BBE2FA;
  --steel-blue: #44576699;
  --transparent-light-sky-blue: #87CEFA8C;
  --red-orange: #EE361C;
  --olive: #DBD77C;
  --light-gray: #EFEFEF;
  --very-light-gray: #F8F8F8;
  --transparent-medium-gray: #9090901A;
  --primary-gradient-color: linear-gradient(180deg, #01D7AB 0%, #0272D9 100%);
  --secondary-gradient-color: linear-gradient(180deg, rgba(2, 189, 183, 0.7) 0%, rgba(2, 126, 212, 0.7) 100%);
  --glass-shadow: 
    4px 4px 6px 0px #015A9299 inset, 
    -4px -4px 6px 0px #03D8CF80 inset;
  --blur-effect: blur(35px);
  --border-one:1px solid #33333399;
  --dropdown-shadow:0px 4px 1px 0px #00000014;
  --right-panel-title-gradient: linear-gradient(90deg, #01D7AB 0%, #0272D9 100%);
  --right-panel-box-shadow1: 4px 4px 6px 0px #0272D966;
  --right-panel-box-shadow2: -4px -4px 6px 0px #FFFFFF8C inset;
  --right-panel-box-shadow3: 4px 4px 6px 0px #FFFFFF80 inset;
}
.headline {
  font-size: 24px;
}
.subheading {
  font-size: 20px;
}
.body-text {
  font-size: 16px;
}
.secondary-text {
  font-size: 12px;
  font-weight: 700;
}
.button-text {
  font-size: 14px;
}
.tooltip-text {
  font-size: 12px;
}
.border-royal-blue{
  border: 1px solid var("--royal-blue");
}
.logo-title{
  @apply text-2xl md:text-4xl font-semibold;
}

.royal-blue{
  @apply bg-royal-blue;
}

.icon{
  padding: 0.4rem;
  width: 50px; 
  height: 50px;
}
.menu svg{
  padding: 0.6rem;
  width: 55px;
  height: 55px;
}
/* For all Share Button */
.share-btn {
  @apply px-2 py-1 md:px-3 md:py-2 rounded-md flex items-center justify-center gap-3;
  background: var(--white-smoke);
}

.search{
  @apply text-sm font-normal w-[10rem] md:w-[18rem] lg:w-[25rem] h-10 rounded-lg pl-10 focus:!outline-none
}

/* sidebar icon background */
.icon-background{
  @apply rounded-lg;
  background: var(--primary-gradient-color);
  color: var(--white-smoke);
  
}

.menu:hover .icon{
  @apply rounded-lg text-white-smoke bg-gradient-primary;
}

/* scroll */
.scroll::-webkit-scrollbar {
  margin-right: 10px;
  width: 4px;
  height: 4px;
}

.scroll::-webkit-scrollbar-thumb {
  background: var(--dark-gray);
  border-radius: 4px;
}

.no-scrollbar::-webkit-scrollbar {
  display: none; /* Hides scrollbar in Chrome, Safari, and Edge */
}

/* Ribbon */

.ribbon{
  @apply w-full h-auto xl:h-32 rounded-2xl px-2 py-4 flex flex-wrap xl:flex-nowrap;
  background: var(--secondary-gradient-color);
  box-shadow: var(--glass-shadow);
  backdrop-filter: var(--blur-effect);
  position: sticky;
  top: 0;
}

.icon-containers{
  @apply w-10 xl:w-12 2xl:w-16 xl:h-full rounded-lg text-center text-[7px] xl:text-[8px] 2xl:text-[10px] flex flex-col items-center justify-center gap-2 opacity-80;
  background: var(--medium-gray);
}

.mini-containers{
  @apply w-fit h-8 p-2 rounded-lg font-bold text-[0.5rem] xl:text-[0.5rem] 2xl:text-[0.6rem];
  background: var(--medium-gray)
}
.mini-containers-2{
  @apply w-32 h-8 p-2 flex justify-center items-center rounded-lg font-bold underline text-[0.5rem] xl:text-[0.5rem] 2xl:text-[0.6rem];
  background: var(--medium-gray)
}
.max-containers{
  @apply w-fit h-20 flex justify-center items-center  p-2 rounded-lg font-bold underline text-[0.5rem] xl:text-[0.5rem] 2xl:text-[0.6rem];
  background: var(--medium-gray)
}
.mini-containers:hover,.mini-containers:focus{
  background-color: var(--royal-blue);
  color: var(--white-smoke);
}
.mini-containers-2:hover,.mini-containers-2:focus{
  background-color: var(--royal-blue);
  color: var(--white-smoke);
}

.second-mini-containers {
  @apply w-fit text-center h-8 p-2 rounded-lg font-bold underline text-[0.5rem] xl:text-[0.7rem];
  background: var(--medium-gray)
}


.icon-size{
  @apply text-3xl xl:text-3xl 2xl:text-4xl cursor-pointer;
}

.small-icon-size{
   @apply text-[23px] xl:text-[22px] 2xl:text-[27px] font-light cursor-pointer;
}

.small-icon-img{
  @apply w-7 ;
}

.hover-div:hover .small-icon-size {
  @apply text-white;
}

.separate{
  @apply border-r-2 px-2 xl:px-2 2xl:px-3;
}

.gap{
@apply gap-0.5 xl:gap-0.5 2xl:gap-2;
}

.hover-div{
  @apply relative w-10 h-10 flex items-center justify-center;
}

.hover-div:hover,.hover-div:focus{
  background: var(--royal-blue);
}

.tooltip{
  @apply absolute bottom-full mb-0.5 text-[12px] w-fit text-center border-2 px-2.5 py-1 rounded opacity-0 transition-opacity pointer-events-none text-nowrap z-50;
  background: var(--white-smoke);
  border-color: var(--royal-blue);
}

.dashed-line{
  @apply border-l-2 border-dashed h-4/5;
  border-color: var(--white-smoke)
}

/* File Section */

.file{
  @apply w-full flex flex-col items-center;
  overflow-y: auto;
  overflow-x: auto;
  scroll-behavior: smooth;
}

.box{
  @apply w-full min-h-[58rem] rounded-2xl flex items-center justify-center;
  background: var(--very-light-gray);
  border: var(--border-one);
  width: 44rem;
  flex-shrink: 0;
}

.upload-section{
  @apply flex items-center justify-center gap-2 w-fit h-10 rounded-md px-4 cursor-pointer;
  background: var(--light-sky-blue);
}

/* custom select arrow*/
.select-arrow-active span:last-child {
  transform: rotate(180deg);
}

.option{
  @apply px-4 py-2 cursor-pointer hover:text-royal-blue text-nowrap;
}

/* sidebar menu */
.menu-dropdown {
  position: relative; /* Ensure this is relative for absolute positioning */
}
.menu-dropdown,.sub-dropdown{
  position: absolute;
  background-color: var(--light-gray);
  color: var(--charcoal-black);
  border: 1px solid var(--dark-gray);
  border-radius: 10px;
  box-shadow: var(--dropdown-shadow);
  font-size: 16px;
}
.menu-dropdown-option{
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem 1rem 0.5rem 1rem;
  border-bottom: 1px solid var(--dark-gray);
}
.menu-active {
  background-color: var(--transparent-light-sky-blue);
}

.menu-active:first-child {
  border-top-left-radius: 10px; /* Adjust the radius value as needed */
  border-top-right-radius: 10px;
}

.menu-active:last-child {
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}
.sub-dropdown .menu-dropdown-option:hover {
  background-color: var(--transparent-light-sky-blue);
}
.active {
  background-color: #3b82f6; /* Tailwind blue-500 */
  color: white;
  border-radius: 0.375rem; /* Tailwind rounded-md */
}

/* File scroll bar */
.file-scroll::-webkit-scrollbar {
  width: 12px;
}
.file-scroll::-webkit-scrollbar-track {
  background: var(--transparent-medium-gray);
}
.file-scroll::-webkit-scrollbar-thumb {
  background: var(--white-smoke);
  border-radius: 6px;
}
.file-scroll::-webkit-scrollbar-button {
  height: 20px;
  display: block;
  background-color: var(--transparent-medium-gray);
  border: none;
  background-size: 8px 8px;
  background-repeat: no-repeat;
  background-position: center;
  cursor: pointer;
}
.file-scroll::-webkit-scrollbar-button:single-button:decrement {
  background-image: url("/public/images/up.svg");
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
}
.file-scroll::-webkit-scrollbar-button:single-button:increment {
  background-image: url("/public/images/down.svg");
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
}
/* zoom slider */
.slider-thumb {
  appearance: none;
  width: 100px;
}
.slider-thumb::-webkit-slider-thumb {
  appearance: none;
  width: 6px; 
  height: 20px;
  background-color: var(--black); 
  border: none;
  border-radius: 2px; 
  cursor: pointer;
}
.slider-thumb::-moz-range-thumb {
  width: 1px; 
  height: 20px;
  background-color: var(--black); 
  border: none;
  border-radius: 2px; 
  cursor: pointer;
}
/* Right panel*/
.right-panel{
  background-color: var(--transparent-light-sky-blue);
  box-shadow: var(--right-panel-box-shadow1);
  box-shadow: var(--right-panel-box-shadow2);
  box-shadow: var(--right-panel-box-shadow3);
  width: 35rem;
  border-radius: 1rem;
}
.right-panel-title{
  background: var(--right-panel-title-gradient);
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin: 1rem;
  padding: 0.5rem 1rem;
  border-radius: 10px;
  color: var(--white-smoke);
  font-weight: 700;
}

.right-panel-content{
  height:calc(100vh - 22.2rem);
}

.input-active {
  @apply w-full px-3 py-1.5 border bg-white-smoke rounded-[10px] border-none focus:outline-none placeholder:text-sm placeholder:text-dark-charcoal placeholder:opacity-30;
}
.white-button-active{
  @apply w-full px-3 py-1.5 bg-white-smoke rounded-[10px] text-dark-charcoal text-sm flex gap-1 items-center justify-center;
}
.white-button-active-one{
  @apply px-3 py-1.5 bg-white-smoke rounded-[10px] text-dark-charcoal text-sm flex gap-1 items-center justify-center;
}

.button-active {
  @apply flex bg-royal-blue text-white-smoke px-3 rounded-[10px] py-2 text-sm gap-2 items-center;
}
.button-blue {
  @apply flex bg-royal-blue text-white-smoke px-3 rounded-[10px] py-2 text-sm gap-2 items-center;
}
.page-active{
  @apply h-24 w-16 rounded-[10px] bg-white-smoke border focus:border-royal-blue;
}
.inactive{
  @apply !bg-medium-gray text-transparent-charcoal placeholder:text-transparent-charcoal;
}
.inactive-one{
  @apply !bg-medium-gray text-transparent-charcoal placeholder:text-transparent-charcoal px-3 rounded-[10px] py-2 text-sm gap-2;
}
.social-media{
  @apply bg-white-smoke hover:bg-royal-blue hover:text-white-smoke focus:bg-royal-blue focus:text-white-smoke h-10 w-10 justify-center rounded-full;
}
.version{
  @apply flex items-center justify-between bg-medium-gray px-3 py-1.5 rounded-[10px] hover:bg-white-smoke focus:bg-white-smoke w-full;
}
.version-icon{
  @apply flex items-center justify-center bg-white-smoke group-hover:bg-royal-blue group-hover:text-white-smoke group-focus:bg-royal-blue group-focus:text-white-smoke h-8 w-8 rounded-full;
}
.password-input{
  @apply w-full px-3 py-1.5 border border-white-smoke bg-transparent rounded-[10px] focus:outline-none placeholder:text-sm placeholder:text-dark-charcoal placeholder:opacity-30;
}

/* table slide animation of home page*/
@keyframes slideRight {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(0);
  }
}

@keyframes slideLeft {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(0);
  }
}

.slideRight {
  animation: slideRight 0.5s ease-in-out;
}

.slideLeft {
  animation: slideLeft 0.5s ease-in-out;
}
/* Feature section of home page */
.feature{
  background-image: url('/public/images/dots-bg.jpg'); 
  background-size: cover; 
  background-repeat: no-repeat; 
  background-position: center;
}
.feature-list{
  border: 4px solid var(--frosted-white);
  border-radius: 31px;
  backdrop-filter: blur(35px);
  background: var(--frosted-gray);
}

/* Color Plate */

.color-plate{
  @apply w-72 h-96 rounded-md px-3 py-4;
  background: var(--white-smoke);
  box-shadow: var(--right-panel-box-shadow1)
}

.colors{
  @apply flex flex-col items-center justify-center
}

.color-row{
  @apply flex items-center gap-1 pt-0.5;
}

.color-box{
  @apply w-5 h-5 rounded-full cursor-pointer border;
  border-color: var(--dark-gray)
}

.custom-color{
  @apply w-10 h-10 border-none cursor-pointer;
}

.normal-button{
  @apply w-[90px] h-[40px] rounded-lg;
  background: var(--white-smoke);
}

.white-input{
  @apply w-full px-3 py-1.5 border bg-white-smoke rounded-[10px] border-none focus:outline-none placeholder:text-sm placeholder:text-dark-charcoal;
}

input[type="checkbox"].c-checkbox {
  accent-color: var(--royal-blue);
}

input[type="checkbox"].c-checkbox {
  appearance: none;
  -webkit-appearance: none;
  display: flex;
  align-content: center;
  justify-content: center;
  font-size: 2rem;
  padding: 1rem;
  width: 35px;
  cursor: pointer;
  position: relative;
  height: 10px;
  border: 1px solid var(--royal-blue);
  border-radius: 10px;
  flex-shrink: 0;
}

input[type="checkbox"].c-checkbox:checked::after {
  content: "✔";
  font-size: 25px;
  position: absolute;
  height: 12px;
  top: -3px;
  left: 7px;
}

.dropdown-btn{
  @apply w-full px-2 h-10 border rounded-[10px] flex items-center justify-between text-sm;
  background: var(--white-smoke);
}

.dropdown-transparent-btn{
  @apply w-full px-2 h-10 border rounded-[10px] flex items-center justify-between text-sm;
  background: transparent;
  border-color: var(--white-smoke);
}

.dropdown-content::-webkit-scrollbar{
  display: none
}

.content-list{
  @apply p-2 cursor-pointer;
}


.content-list:hover{
  background: var(--transparent-light-sky-blue);
}

.transparent-div{
  @apply w-10 h-10 rounded-[10px] flex items-center justify-center bg-transparent border border-white-smoke font-bold;
}

/* Container for the slider */
.rect-slider-container {
  @apply px-3 py-[0.93rem];
  background-color: var(--white-smoke); /* Light blue background */
  border-radius: 10px; /* Rounded corners */
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

/* Slider styling */
.rect-slider {
  -webkit-appearance: none; /* Removes default styling for range input */
  appearance: none;
  width: 60px;
  height: 2px; /* Line thickness */
  background: var(--dark-charcoal); /* Line color */
  position: relative;
}

/* Slider thumb (rectangle handle) */
.rect-slider::-webkit-slider-thumb {
  -webkit-appearance: none; /* Removes default styling */
  appearance: none;
  width: 5px; /* Handle width */
  height: 20px; /* Handle height */
  background-color: black; /* Handle color */
  cursor: pointer; /* Adds a pointer cursor on hover */
}

.rect-slider::-moz-range-thumb {
  width: 10px;
  height: 20px;
  background-color: black;
  cursor: pointer;
}

.rect-slider::-ms-thumb {
  width: 5px;
  height: 10px;
  background-color: black;
  cursor: pointer;
}

/* Login page css*/
.login-bg{
  background-image: url('/public/images/login.jpeg'); 
  background-size: cover; 
  background-repeat: no-repeat; 
  background-position: center;
}
.login-container{
  @apply absolute right-0 sm:right-[17%] text-white-smoke h-full max-w-[34rem] w-full z-0;
}
.blur-container{
  @apply absolute bg-steel-blue h-full w-full filter blur-sm z-0;
}

#left-margin-container {
  margin-left: 20px; /* Adjust the margin-left value as needed */
}

.login-search-box{
  @apply absolute top-12 right-0 ;
}

#first-container {
  margin-left: 14%;
}

.sidebar-text{
  font-size: 16px;
  font-weight: 400;
}
@media(max-width:480px){
  .captureLayout{
    width:20rem;
  }
}

/* Reduce gap between headings */
.heading-class {
 
  margin-left: -70%; /* Add left margin for consistent horizontal alignment */
}

.heading1-class {
 
  margin-left: -20%; /* Add left margin for consistent horizontal alignment */
}

.heading2-class {
 
  margin-left: -14%; /* Add left margin for consistent horizontal alignment */
}

.heading3-class {
 
  margin-left: -30%; /* Add left margin for consistent horizontal alignment */
}

.heading4-class {
 
  margin-left: -40%; /* Add left margin for consistent horizontal alignment */
}

.heading5-class {
 
  margin-left: -50%; /* Add left margin for consistent horizontal alignment */
}

.heading6-class {
 
  margin-left: -130%; /* Add left margin for consistent horizontal alignment */
}

.heading7-class {
 
  margin-left: -30%; /* Add left margin for consistent horizontal alignment */
}

.heading8-class {
 
  margin-left: -55%; /* Add left margin for consistent horizontal alignment */
}

.heading9-class {
 
  margin-left: -40%; /* Add left margin for consistent horizontal alignment */
}

.heading10-class {
 
  margin-left: -66%; /* Add left margin for consistent horizontal alignment */
}

.heading11-class {
 
  margin-left: -96%; /* Add left margin for consistent horizontal alignment */
}

.heading12-class {
 
  margin-left: -30%; /* Add left margin for consistent horizontal alignment */
}

.heading13-class {
 
  margin-left: 60%; /* Add left margin for consistent horizontal alignment */
}

.heading14-class {
 
  margin-left: -68%; /* Add left margin for consistent horizontal alignment */
}

.heading15-class {
 
  margin-left: -60%; /* Add left margin for consistent horizontal alignment */
}

.heading16-class {
 
  margin-left: -114%; /* Add left margin for consistent horizontal alignment */
}

.heading17-class {
 
  margin-left: 36%; /* Add left margin for consistent horizontal alignment */
}


.heading18-class {
 
  margin-left: 126%; /* Add left margin for consistent horizontal alignment */
}

.h-41{
  height: 10.5rem;
}
.userContainer{
  max-width: 97rem;
}
.pl-6{
  padding-left: 1.5rem;
}

.pl-4{
  padding-left: 1rem;
}
.pr-4{
  padding-right: 1rem;
}
.pr-3{
  padding-right:0.75rem ;
}
.rounded-br-xl{
  border-bottom-right-radius: 0.75rem;
}
.rounded-br-lg{
  border-bottom-right-radius: 0.5rem;
}

.rounded-bl-lg{
  border-bottom-left-radius: 0.5rem;
}

.rounded-tr-lg{
  border-top-right-radius: 0.5rem;
}
.column-class {
 
  margin-left: -80%; /* Add left margin for consistent horizontal alignment */
}

.icon-class {
 
  margin-left: -20%; /* Add left margin for consistent horizontal alignment */
}

.icon-class1 {
 
  margin-left: -10%; /* Add left margin for consistent horizontal alignment */
}

.icon-class2 {
 
  margin-left: -10%; /* Add left margin for consistent horizontal alignment */
}

.icon-class3 {
 
  margin-left: -40%; /* Add left margin for consistent horizontal alignment */
}

.icon-class4 {
 
  margin-left: -38%; /* Add left margin for consistent horizontal alignment */
}

.icon-class5 {
 
  margin-left: -60%; /* Add left margin for consistent horizontal alignment */
}


.dropdown-class {
 
  margin-left: -20%; /* Add left margin for consistent horizontal alignment */
}

.dropdown1-class {
 
  margin-left: -30%; /* Add left margin for consistent horizontal alignment */
}

.dropdown2-class {
 
  margin-left: -40%; /* Add left margin for consistent horizontal alignment */
}


.dropdown3-class {
 
  margin-left: -54%; /* Add left margin for consistent horizontal alignment */
}

.dropdown4-class {
 
  margin-left: -160%; /* Add left margin for consistent horizontal alignment */
}

.dropdown5-class {
 
  margin-left: -42%; /* Add left margin for consistent horizontal alignment */
}

.dropdown6-class {
 
  margin-left: -60%; /* Add left margin for consistent horizontal alignment */
}

.dropdown7-class {
 
  margin-left: -90%; /* Add left margin for consistent horizontal alignment */
}

.dropdown8-class {
 
  margin-left: -80%; /* Add left margin for consistent horizontal alignment */
}

.dropdown9-class {
 
  margin-left: -78%; /* Add left margin for consistent horizontal alignment */
}


.pt-20{
  padding-top: 5rem;
}



.access-class {
 
  margin-left: -10%; /* Add left margin for consistent horizontal alignment */
}

.activity-class {
 
  margin-left: -30%; /* Add left margin for consistent horizontal alignment */
}

.activity1-class {
 
  margin-left: -60%; /* Add left margin for consistent horizontal alignment */
}


.collaboration-class {
 
  margin-left: -44%; /* Add left margin for consistent horizontal alignment */
}

.collaboration1-class {
 
  margin-left: -88%; /* Add left margin for consistent horizontal alignment */
}

.size-class {
 
  margin-left: -130%; /* Add left margin for consistent horizontal alignment */
}

.size-class1 {
 
  margin-left: -24%; /* Add left margin for consistent horizontal alignment */
}

.size-class2 {
 
  margin-left: -112%; /* Add left margin for consistent horizontal alignment */
}

.size-class3 {
 
  margin-left: -28%; /* Add left margin for consistent horizontal alignment */
}

.size-class4 {
 
  margin-left: -224%; /* Add left margin for consistent horizontal alignment */
}


.file-class {
 
  margin-left: 10%; /* Add left margin for consistent horizontal alignment */
}

.three-dots {
  margin-left: -400%;
}

.three-dots-dropdown {
  margin-left: -10%;
}

.three-dots1 {
  margin-left: -10%;
}

.three-dots-dropdown1 {
  margin-left: -8%;
}

.three-dots-dropdown2 {
  margin-left: 2%;
}


.star {
  margin-left: -260%;
}


#star1 {
  margin-left: -140%;
}

.star3 {
  margin-left: -220%;
}

.star4 {
  margin-left: -220%;
}
.\!w-6 {
  width: 1.5rem !important;
}
.\!h-6 {
  height: 1.5rem !important;
}
.custom-checkbox {
  width: 20px;
  height: 20px;
  appearance: none; /* Remove default checkbox styling */
  background-color: white;
  border: 1px solid #000; /* Change color as needed */
  border-radius: 35%; 
  display: inline-block;
  position: relative;
  cursor: pointer;
}

.custom-checkbox:checked::after {
  content: "✓"; /* Unicode for checkmark */
  font-size: 16px;
  color: black; /* Tick color */
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.more-button:hover svg {
  fill: white;
}










/* Adjust for smaller screens */
@media screen and (max-width: 768px) {
  #dropdown-menu {
      left: auto;
      right: 0; /* Align dropdown to the right for smaller screens */
  }
}


.blue-star {
  color: #0272D9;
}
.dropdown{
  box-shadow: 2px 2px 4px 0px #33333340;
}


.filter-active{
 color: royalblue;
}
.selected-filter{
  color:var(--transparent-dark-gray)
}

.icon-filemanager{
  padding: 0.4rem;
  width: 38px;
  height: 34px;
}

.icon-notification{
  padding: 0.4rem;
  width: 38px;
  height: 38px;
}

.icon-filemanager2{
  padding: 0.4rem;
  width: 38px;
  height: 38px;
}

.icon-capture{
  padding: 0.4rem;
  width: 32px;
  height: 36px;
}

.profile-bg{
  background-image: url('../public/images/Profile-bg.jpg'); 
  background-size: cover; 
  background-repeat: no-repeat; 
  background-position: center;}

.w-50{
  width: 12.5rem;
}

.h-50{
  height: 12.5rem;
}
.ml-16{
  margin-left: 4rem;
}
.mt-9{
  margin-top: 2.75rem;
}



